/* Параллакс и базовые стили */
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    position: relative;
}

.parallax-small {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    position: relative;
}

.hero-section {
    background-image: url('../img/ambulance.jpg');    
}

.topics-section {
    background-image: url('../img/doctors-team.jpg');
}

.registration-section {
    background-image: url('../img/conference-hall.jpg');
}

.overlay-light {
    background-color: rgba(7,29,50,0.3);
    /*position: absolute;
    top: 0;
    left: 0;
    width: 100%;*/
}

.overlay {
    background-color: rgba(7,29,50,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
}

/* Анимации */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 1s ease-out;
}

/* Hover-эффекты */
.btn-hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .btn-hover-effect:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

/* Тени для текста */
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Иконки */
.icon-large {
    font-size: 2rem;
    margin-right: 10px;
}

/* Анимация пульсации для кнопки */
@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 10px rgba(58, 179, 206, 0.8);
    }

    50% {
        box-shadow: 0 0 20px rgba(58, 179, 206 1);
    }
}

.highlight-btn {
    border: 2px solid #f00;
    animation: pulse 1.5s infinite;
}

/* Новые цвета */
:root {
    --custom-info: #3ab3ce; /* Новый цвет 1 */
    --custom-primary: #071d32; /* Новый цвет 2 */
    --custom-secondary: #134359; /* Новый цвет 3 */
}

/* Классы для текста */
.text-custom-info {
    color: var(--custom-info) !important;
}

.text-custom-primary {
    color: var(--custom-primary) !important;
}

.text-custom-secondary {
    color: var(--custom-secondary) !important;
}

/* Классы для фона */
.bg-custom-info {
    background-color: var(--custom-info) !important;
}

.bg-custom-primary {
    background-color: var(--custom-primary) !important;
}

.bg-custom-secondary {
    background-color: var(--custom-secondary) !important;
}

.btn-custom-info {
    background-color: var(--custom-info);
    border-color: var(--custom-info);
    color: white;
}

    .btn-custom-info:hover {
        background-color: darken(#3ab3ce, 10%);
        border-color: darken(#3ab3ce, 10%);
    }

.btn-custom-primary {
    background-color: var(--custom-primary);
    border-color: var(--custom-primary);
    color: white;
}

    .btn-custom-primary:hover {
        background-color: darken(#071d32, 10%);
        border-color: darken(#071d32, 10%);
    }

